@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap");

body {
	/* Centers page */
	max-width: 500px;
	min-height: 100%;
	margin: auto;
	
	background-color: black;
	font-family: "Roboto", sans-serif;
	color: white;

	/* Pushes footer to the bottom */
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: dodgerblue;
}

h1 {
	font-size: 40px;
}

.footer {
	margin-bottom: 5%;
	text-align: center;
}

.footer img {
	width: 32px;
	margin: 16px;
}
